
td ,th {
    text-align: center  ;
}
@media screen and (max-width :768px) {
    th{
        font-size:9px;
    }
    td{
        font-size: 12px;
        padding: 5px 0 !important;
    }
    .deleteButton ,
    .update {
        padding: 2px;
        font-size: 10px;
    }
}
